name: Terraform Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Integration test
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        module: ["s3"]
    steps:
      - uses: actions/checkout@v4

      - name: terraform test ${{ matrix.module }}
        uses: dflook/terraform-test@v1
        env:
          CF_USER: ${{ secrets.CF_USER }}
          CF_PASSWORD: ${{ secrets.CF_PASSWORD }}
        with:
          path: ${{ matrix.module }}
